/*fitz-colors-windows.css*/
.fitz-win-phone-lime
{color:#fff;background-color:#a4c400}
.fitz-win-phone-green
{color:#fff;background-color:#60a917}
.fitz-win-phone-emerald
{color:#fff;background-color:#008a00}
.fitz-win-phone-teal
{color:#fff;background-color:#00aba9}
.fitz-win-phone-cyan
{color:#fff;background-color:#1ba1e2}
.fitz-win-phone-blue
{color:#fff;background-color:#1ba1e2}
.fitz-win-phone-cobalt
{color:#fff;background-color:#0050ef}
.fitz-win-phone-indigo
{color:#fff;background-color:#6a00ff}
.fitz-win-phone-violet
{color:#fff;background-color:#aa00ff}
.fitz-win-phone-pink
{color:#fff;background-color:#f472d0}
.fitz-win-phone-magenta
{color:#fff;background-color:#d80073}
.fitz-win-phone-crimson
{color:#fff;background-color:#a20025}
.fitz-win-phone-red
{color:#fff;background-color:#e51400}
.fitz-win-phone-orange
{color:#fff;background-color:#fa6800}
.fitz-win-phone-amber
{color:#fff;background-color:#f0a30a}
.fitz-win-phone-yellow
{color:#fff;background-color:#e3c800}
.fitz-win-phone-brown
{color:#fff;background-color:#825a2c}
.fitz-win-phone-olive
{color:#fff;background-color:#6d8764}
.fitz-win-phone-steel
{color:#fff;background-color:#647687}
.fitz-win-phone-mauve
{color:#fff;background-color:#76608a}
.fitz-win-phone-taupe
{color:#fff;background-color:#87794e}
.fitz-win-phone-sienna
{color:#fff;background-color:#a0522d}

.fitz-win-metro-light-green
{color:#fff;background-color:#99b433}
.fitz-win-metro-green
{color:#fff;background-color:#00a300}
.fitz-win-metro-dark-green
{color:#fff;background-color:#1e7145}
.fitz-win-metro-magenta
{color:#fff;background-color:#ff0097}
.fitz-win-metro-light-purple
{color:#fff;background-color:#9f00a7}
.fitz-win-metro-purple
{color:#fff;background-color:#7e3878}
.fitz-win-metro-dark-purple
{color:#fff;background-color:#603cba}
.fitz-win-metro-darken
{color:#fff;background-color:#1d1d1d}
.fitz-win-metro-teal
{color:#fff;background-color:#00aba9}
.fitz-win-metro-light-blue
{color:#000;background-color:#eff4ff}
.fitz-win-metro-blue
{color:#fff;background-color:#2d89ef}
.fitz-win-metro-dark-blue
{color:#fff;background-color:#2b5797}
.fitz-win-metro-yellow
{color:#fff;background-color:#ffc40d}
.fitz-win-metro-orange
{color:#fff;background-color:#e3a21a}
.fitz-win-metro-dark-orange
{color:#fff;background-color:#da532c}
.fitz-win-metro-red
{color:#fff;background-color:#ee1111}
.fitz-win-metro-dark-red
{color:#fff;background-color:#b91d47}










/*fitz-colors-food.css*/
.fitz-food-apple
{color:#000;background-color:#76cd26}
.fitz-food-aspargus
{color:#fff;background-color:#77ab56}
.fitz-food-apricot
{color:#fff;background-color:#ffb16d}
.fitz-food-aubergine
{color:#fff;background-color:#3d0734}
.fitz-food-avocado
{color:#fff;background-color:#87a922}
.fitz-food-banana
{color:#000;background-color:#fafe4b}
.fitz-food-butter
{color:#000;background-color:#ffff81}
.fitz-food-blueberry
{color:#fff;background-color:#464196}
.fitz-food-cherry
{color:#fff;background-color:#cf0234}
.fitz-food-chocolate
{color:#fff;background-color:#411900}
.fitz-food-cranberry
{color:#fff;background-color:#9e003a}
.fitz-food-coffee
{color:#fff;background-color:#a6814c}
.fitz-food-egg
{color:#000;background-color:#fffcc4}
.fitz-food-grape
{color:#fff;background-color:#6c3461}
.fitz-food-kiwi
{color:#000;background-color:#8ee53f}
.fitz-food-lemon
{color:#000;background-color:#fdff52}
.fitz-food-lime
{color:#000;background-color:#bffe28}
.fitz-food-mango
{color:#fff;background-color:#ffa62b}
.fitz-food-mushroom
{color:#fff;background-color:#ba9e88}
.fitz-food-mustard
{color:#fff;background-color:#ceb301}
.fitz-food-mint
{color:#000;background-color:#c0fa8b}
.fitz-food-olive
{color:#fff;background-color:#6e750e}
.fitz-food-orange
{color:#fff;background-color:#f97306}
.fitz-food-pea
{color:#fff;background-color:#a4bf20}
.fitz-food-peach
{color:#fff;background-color:#ffb07c}
.fitz-food-pear
{color:#000;background-color:#cbf85f}
.fitz-food-pistachio
{color:#000;background-color:#c0fa8b}
.fitz-food-plum
{color:#fff;background-color:#3f012c}
.fitz-food-raspberry
{color:#fff;background-color:#b00149}
.fitz-food-saffron
{color:#fff;background-color:#feb209}
.fitz-food-salmon
{color:#fff;background-color:#ff796c}
.fitz-food-spearmint
{color:#000;background-color:#1ef876}
.fitz-food-squash
{color:#fff;background-color:#f2ab15}
.fitz-food-strawberry
{color:#fff;background-color:#fb2943}
.fitz-food-tomato
{color:#fff;background-color:#ec2d01}
.fitz-food-wheat
{color:#000;background-color:#fbdd7e}
.fitz-food-wine
{color:#fff;background-color:#80013f}










/*fitz-colors-vivid.css*/
.fitz-vivid-pink
{color:#fff;background-color:#ffb5bA}
.fitz-vivid-red
{color:#fff;background-color:#be0032}
.fitz-vivid-orange
{color:#fff;background-color:#f38400}
.fitz-vivid-yellow
{color:#fff;background-color:#f3c300}
.fitz-vivid-green
{color:#fff;background-color:#008856}
.fitz-vivid-blue
{color:#fff;background-color:#00a1c2}
.fitz-vivid-black
{color:#fff;background-color:#000}
.fitz-vivid-white
{color:#000;background-color:#fff}

.fitz-vivid-purple
{color:#fff;background-color:#9a4eae}
.fitz-vivid-purple
{color:#fff;background-color:#9a4eae}
.fitz-vivid-yellowish-pink
{color:#fff;background-color:#ffb7a5}
.fitz-vivid-reddish-orange
{color:#fff;background-color:#e25822}
.fitz-vivid-orange-yellow
{color:#fff;background-color:#f6a600}
.fitz-vivid-greenish-yellow
{color:#fff;background-color:#dcd300}
.fitz-vivid-yellow-green
{color:#fff;background-color:#8db600}
.fitz-vivid-yellowish-green
{color:#fff;background-color:#27a64c}
.fitz-vivid-bluish-green
{color:#fff;background-color:#008882}
.fitz-vivid-greenish-blue
{color:#fff;background-color:#0085a1}
.fitz-vivid-purplish-blue
{color:#fff;background-color:#30267a}
.fitz-vivid-reddish-purple
{color:#fff;background-color:#870074}
.fitz-vivid-purplish-red
{color:#fff;background-color:#ce4676}













/*fitz-colors-camo.css*/
.fitz-camo-brown
{color:#fff;background-color:#594d45}

.fitz-camo-red
{color:#fff;background-color:#79533d}

.fitz-camo-olive
{color:#fff;background-color:#595142}

.fitz-camo-field
{color:#fff;background-color:#745d46}

.fitz-camo-earth
{color:#fff;background-color:#ac7e54}

.fitz-camo-sand
{color:#fff;background-color:#a9947b}

.fitz-camo-tan
{color:#fff;background-color:#b49d80}

.fitz-camo-sandstone
{color:#fff;background-color:#bcab90}

.fitz-camo-dark-green
{color:#fff;background-color:#535640}

.fitz-camo-forest
{color:#fff;background-color:#54504b}

.fitz-camo-light-green
{color:#fff;background-color:#63613e}

.fitz-camo-green
{color:#fff;background-color:#4a5444}

.fitz-camo-dark-gray,.fitz-camo-dark-grey
{color:#fff;background-color:#5c5c5b}

.fitz-camo-gray,.fitz-camo-grey
{color:#fff;background-color:#9495a5}

.fitz-camo-black
{color:#fff;background-color:#373538}










/*fitz-colors-2017.css*/
.fitz-2017-greenery
{color:#fff;background-color:#92B558}
.fitz-2017-grenadine
{color:#fff;background-color:#DC4C46}
.fitz-2017-tawny-port
{color:#fff;background-color:#672e3b}
.fitz-2017-ballet-slipper
{color:#000;background-color:#f3d6e4}
.fitz-2017-butterum
{color:#fff;background-color:#c48f65}
.fitz-2017-navy-peony
{color:#fff;background-color:#223a5e}
.fitz-2017-neutral-gray,.fitz-2017-neutral-grey
{color:#fff;background-color:#898e8c}
.fitz-2017-shaded-spruce
{color:#fff;background-color:#005960}
.fitz-2017-golden-lime
{color:#fff;background-color:#9c9a40}
.fitz-2017-marina
{color:#fff;background-color:#578CA9}
.fitz-2017-autumn-maple
{color:#fff;background-color:#d2691e}
.fitz-2017-niagara
{color:#fff;background-color:#578CA9}
.fitz-2017-primrose-yellow
{color:#000;background-color:#f6d155}
.fitz-2017-lapis-blue
{color:#fff;background-color:#004b8d}
.fitz-2017-flame
{color:#fff;background-color:#f2552c}
.fitz-2017-island-paradise
{color:#000;background-color:#95dee3}
.fitz-2017-pale-dogwood
{color:#000;background-color:#edcdc2}
.fitz-2017-pink-yarrow
{color:#fff;background-color:#ce3175}
.fitz-2017-kale
{color:#fff;background-color:#5a7247}
.fitz-2017-hazelnut
{color:#000;background-color:#cfb095}







/*fitz-grey-theme.css*/
.fitz-theme-l5 {color:#000 !important; background-color:#f9f9f9 !important}
.fitz-theme-l4 {color:#000 !important; background-color:#ececec !important}
.fitz-theme-l3 {color:#000 !important; background-color:#d8d8d8 !important}
.fitz-theme-l2 {color:#000 !important; background-color:#c5c5c5 !important}
.fitz-theme-l1 {color:#000 !important; background-color:#b1b1b1 !important}
.fitz-theme-d1 {color:#fff !important; background-color:#8e8e8e !important}
.fitz-theme-d2 {color:#fff !important; background-color:#7e7e7e !important}
.fitz-theme-d3 {color:#fff !important; background-color:#6f6f6f !important}
.fitz-theme-d4 {color:#fff !important; background-color:#5f5f5f !important}
.fitz-theme-d5 {color:#fff !important; background-color:#4f4f4f !important}

.fitz-theme-light {color:#000 !important; background-color:#f9f9f9 !important}
.fitz-theme-dark {color:#fff !important; background-color:#4f4f4f !important}
.fitz-theme-action {color:#fff !important; background-color:#4f4f4f !important}

.fitz-theme {color:#fff !important; background-color:#9e9e9e !important}
.fitz-text-theme {color:#9e9e9e !important}
.fitz-border-theme {border-color:#9e9e9e !important}

.fitz-hover-theme:hover {color:#fff !important; background-color:#9e9e9e !important}
.fitz-hover-text-theme:hover {color:#9e9e9e !important}
.fitz-hover-border-theme:hover {border-color:#9e9e9e !important}




/*fitz-lilac_grey-theme.css*/
.fitz-theme-l5 {color:#000 !important; background-color:#f9f9fa !important}
.fitz-theme-l4 {color:#000 !important; background-color:#ebeaed !important}
.fitz-theme-l3 {color:#000 !important; background-color:#d6d6db !important}
.fitz-theme-l2 {color:#000 !important; background-color:#c2c1c9 !important}
.fitz-theme-l1 {color:#000 !important; background-color:#aeacb7 !important}
.fitz-theme-d1 {color:#fff !important; background-color:#898696 !important}
.fitz-theme-d2 {color:#fff !important; background-color:#787687 !important}
.fitz-theme-d3 {color:#fff !important; background-color:#696776 !important}
.fitz-theme-d4 {color:#fff !important; background-color:#5a5866 !important}
.fitz-theme-d5 {color:#fff !important; background-color:#4b4a55 !important}

.fitz-theme-light {color:#000 !important; background-color:#f9f9fa !important}
.fitz-theme-dark {color:#fff !important; background-color:#4b4a55 !important}
.fitz-theme-action {color:#fff !important; background-color:#4b4a55 !important}

.fitz-theme {color:#fff !important; background-color:#9896a4 !important}
.fitz-text-theme {color:#9896a4 !important}
.fitz-border-theme {border-color:#9896a4 !important}

.fitz-hover-theme:hover {color:#fff !important; background-color:#9896a4 !important}
.fitz-hover-text-theme {color:#9896a4 !important}
.fitz-hover-border-theme:hover {border-color:#9896a4 !important}





/*fitz-#d6d7d6-theme.css*/
.fitz-theme-l5 {color:#000 !important; background-color:#fdfdfd !important}
.fitz-theme-l4 {color:#000 !important; background-color:#f7f7f7 !important}
.fitz-theme-l3 {color:#000 !important; background-color:#efefef !important}
.fitz-theme-l2 {color:#000 !important; background-color:#e6e7e6 !important}
.fitz-theme-l1 {color:#000 !important; background-color:#dedfde !important}
.fitz-theme-d1 {color:#000 !important; background-color:#c0c1c0 !important}
.fitz-theme-d2 {color:#000 !important; background-color:#abacab !important}
.fitz-theme-d3 {color:#fff !important; background-color:#959795 !important}
.fitz-theme-d4 {color:#fff !important; background-color:#7f827f !important}
.fitz-theme-d5 {color:#fff !important; background-color:#6a6c6a !important}

.fitz-theme-light {color:#000 !important; background-color:#fdfdfd !important}
.fitz-theme-dark {color:#fff !important; background-color:#6a6c6a !important}
.fitz-theme-action {color:#fff !important; background-color:#6a6c6a !important}

.fitz-theme {color:#000 !important; background-color:#d6d7d6 !important}
.fitz-text-theme {color:#d6d7d6 !important}
.fitz-border-theme {border-color:#d6d7d6 !important}

.fitz-hover-theme:hover {color:#000 !important; background-color:#d6d7d6 !important}
.fitz-hover-text-theme {color:#d6d7d6 !important}
.fitz-hover-border-theme:hover {border-color:#d6d7d6 !important}